apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: logging
data:
  promtail.yaml: |
    server:
      http_listen_port: 3101
      grpc_listen_port: 9095

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels:
              - __meta_kubernetes_pod_controller_name
            regex: ([0-9a-z-.]+?)(-[0-9a-f]{8,10})?
            action: replace
            target_label: __tmp_controller_name
          - source_labels:
              - __meta_kubernetes_label_app_kubernetes_io_name
              - __meta_kubernetes_label_app
              - __meta_kubernetes_label_name
              - __tmp_controller_name
              - __meta_kubernetes_namespace
            action: replace
            regex: ^;*([^;]+)(;.*)?$
            replacement: $1
            target_label: app
          - source_labels:
              - __meta_kubernetes_label_app_kubernetes_io_instance
              - __meta_kubernetes_label_release
            action: replace
            regex: ^;*([^;]+)(;.*)?$
            replacement: $1
            target_label: instance
          - source_labels:
              - __meta_kubernetes_label_app_kubernetes_io_component
              - __meta_kubernetes_label_component
            action: replace
            regex: ^;*([^;]+)(;.*)?$
            replacement: $1
            target_label: component
          - action: replace
            source_labels:
              - __meta_kubernetes_pod_name
            target_label: pod
          - action: replace
            source_labels:
              - __meta_kubernetes_namespace
            target_label: namespace
          - action: replace
            replacement: $1
            separator: /
            source_labels:
              - namespace
              - app
            target_label: job
          - action: replace
            source_labels:
              - __meta_kubernetes_namespace
            target_label: namespace
          - action: labelmap
            regex: __meta_kubernetes_label_(.+)
          - action: replace
            source_labels:
              - __meta_kubernetes_pod_name
            target_label: pod
          - action: replace
            source_labels:
              - __meta_kubernetes_pod_host_ip
            target_label: host
          - replacement: /var/log/pods/*$1/*.log
            separator: /
            source_labels:
              - __meta_kubernetes_pod_uid
              - __meta_kubernetes_pod_container_name
            target_label: __path__
          - action: replace
            source_labels:
              - __meta_kubernetes_pod_container_name
            target_label: container
          - action: replace
            replacement: /var/log/pods/*$1/*.log
            separator: /
            source_labels:
              - __meta_kubernetes_pod_uid
              - __meta_kubernetes_pod_container_name
            target_label: __path__
